<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oxalis">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo9"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo9"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oxalis">
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.details.DetailChatAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".view.details.DetailTourInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>